@media (min-width: 280px) and (max-width: 1220px) {
  .secont_pro {
    display: none;
  }
}
@media (min-width: 280px) and (max-width: 1220px) {
  .main_dev {
    width: 100%;
    align-items: center;
  }
}
/* @media (min-width: 280px) and (max-width: 1220px) {
  .main_dev {
    width: 100%;
    justify-content: center;
  }
} */
